<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2><strong>Sitemap</strong></h2>
        <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/gallery">Gallery</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/catalog">Catalog</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>
      <strong>Developed</strong> by <a href="http://www.byronroark.com">Byron Roark</a>
    </p>
  </div>
</footer>