<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/about">About Us</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/rx5">Cricket RX-5</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/sx3">Cricket SX-3</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/esv">Cricket ESV</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/contact" rel="nofollow">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>
      St Augustine | Jacksonville | <a href="tel:+19043287051" rel="nofollow">904-328-7051</a> |  <a href="mailto:captaincartsfl@gmail.com" rel="nofollow">captaincartsfl@gmail.com</a>
      <br />
      <br />
      <strong>Web design</strong> by Byron Roark, All Rights Reserved
    </p>
  </div>
</footer>