<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <ul>
          <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/gallery">Gallery</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/catalog">Catalog</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p>
      St Augustine | Jacksonville | <a href="tel:19043287051">904-328-7051</a> |  <a href="mailto:captaincartsfl@gmail.com">captaincartsfl@gmail.com</a>
      <br />
      <br />
      <strong>Web design</strong> by <a href="http://www.byronroark.com">Byron Roark</a>, All Rights Reserved
    </p>
  </div>
</footer>