@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

$green: #849316;
$bright-green: #bbd64b;
$dark-gray: #2c3338;
$light-gray: #EFF3F4;
$navbar-item-img-max-height: 100px;
$input-focus-border-color: $green;
$input-focus-box-shadow-color: $green;

// html, body {
//   background: $light-gray;
// }

a {
  color: $black;
}

a:hover {
  color: $bright-green;
}

a.navbar-item {
  color: $green;
}

a.navbar-item:hover {
  color: $bright-green;
}

a.navbar-item.has-dropdown {
  color: $green;
}

// .navbar-dropdown a.navbar-item:hover {
//   color: $green;
// }

span.tag.is-success {
  background-color: $green;
}

.button.is-success {
  background-color: $green;
}

.button.is-success:hover {
  color: $white;
  background-color: $bright-green;
}

.button.is-success:target {
  border: 2px solid $green;
}

.has-bg-img { 
  background-image: url("../images/hero.png"); 
  background-size: cover;
}

dt {
  float: left;
  clear: left;
  text-align: left;
  font-weight: bold;
  width: 200px;
  color: $dark-gray;
}

dt::after {
  content: ":";
}

// dd {
//   margin: 0 0 0 110px;
//   padding: 0 0 1em 0;
// }

.hero.is-success.is-bold {
  background-image: linear-gradient(141deg, #849316 0%, #bbd64b 71%, #d2e682 100%); }
  @media screen and (max-width: 768px) {
    .hero.is-success.is-bold .navbar-menu {
      background-image: linear-gradient(141deg, #849316 0%, #bbd64b 71%, #d2e682 100%); } }